<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Management</title>
</head>
<body>

<h2>Staff Management</h2>
<ul>
    <li><a href="/staffs/list" th:href="@{/customers/list}"> List of Customer</a></li>
    <li><a href="/staffs/signup" th:href="@{/customers/signup}"> Add New Customer</a></li>
    <li><a href="/staffs/update" th:href="@{/customers/update}"> Update Customer</a></li>
    <li><a href="/staffs/delete" th:href="@{/customers/delete}"> Delete Customer</a></li>
</ul>

</body>
</html>
